body {
    background-image: url("../images/pattern1.jpg");
    background-repeat: repeat-y;
    padding: 40px;
    padding-top: 0px;
    background-color: #A7F4FE;
}
a {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}
.column1of2, .column2of2 {
    float: left;
    margin: 10px;
    padding-left: 10px;
    width: 35%;
}

a.two {
    font-size: 20px
}

div.one {
    margin-left: -40px;
    width: 100%;
    position: fixed;
    background-color: #FFFEFF;
    z-index: 20;
    height: 60px;
    display: inline;
    border-bottom-style: dotted;
    border-color: #665B7D;
}

p.one {
    margin-left: 300px;
    padding-top: 150px;
    width: 70%;
    text-align: justify;
    font-size: 24px
}
div.two {
    margin-left: 300px;
    padding-top: 25px;
    text-align: justify;
}

div {
    margin-left: 300px;
}

p.two {
    font-size: 20px;
    width: 90%;
    padding-bottom: 20px;
}

p.three {
    font-size: 16px;
    text-align: center;
    padding-top: 3px;
    width: 90%;
}

h2 {
    background-color: #FFFEFF;
    width: 40%;
    text-align: center;
    height: 110px;
    padding: 20px;
    margin-left: -160px;
    border-style: dotted;
    border-color: #665B7D;
}

img {
    width: 80%;
}

ul { font-size: 20px;
    width: 90%;
    padding-bottom: 20px;
}