.column1of3, .column2of3, .column3of3 {
    width: 30%;
    float: left;
    margin: 10px;
}
p.one, p.two {
    width: 90%;
    font-size: 24px;
    border-top: double;
    padding: 15px;
}

body {
    background-color: #A7F4FE;
    background-image: url("images/pattern1.jpg");
    background-repeat: repeat-x;
}

h1.page-header {
    margin-top: 350px;
}

a {
    font-size: 20px;
}

div.one {
    margin-left: 200px;
    margin-right: 100px;
}