.column1of3, .column2of3, .column3of3 {
    width: 30%;
    float: left;
    margin: 10px;
}
p.one, p.two {
    width: 90%;
    font-size: 20px;
    border-top: double;
    padding: 15px;
}

body {
    background-color: #CCE5FF;
}