body {
    padding: 40px;
    padding-top: 0px;
    background-color: #CCE5FF;
}
a {
    text-transform: uppercase;
    font-size: 30px;
}
.column1of2, .column2of2 {
    float: left;
    margin: 10px;
    width: 33%
}
div.one {
    position: fixed;
    background-color: #efefef;
    width: 100%
    z-index: 20;
    height: 60px;
    display: inline;
    border-bottom-style: double;
}

p.one {
    padding-top: 150px;
    width: 90%;
    text-align: justify;
    font-size: 24px
}
div.two {
    padding-top: 25px;
    text-align: justify;
}

p.two {
    font-size: 20px;
    width: 90%;
}

p.three {
    font-size: 16px;
    text-align: center;
    padding-top: 3px;
    width: 90%;
}